* {
  user-select: none;
}

.dropdown-item-dark:active {
  background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important;
}

.form-check-input-dark:checked {
  background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important;
  border-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important;
}